body {
  font-family: 'Poppins', sans-serif;
  color: #323232;
  font-size: 15px;
}

h1 {
  font-weight: 200;
}

h4 {
  font-weight: 200;
  width: 45%;
  text-align: center;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  text-align: right;
  margin: 30px auto 0;
  width: 800px;
}

.column {
flex: 1  ;
align-items: center;
}

.icon {
  align-items: flex-end;

}

.header {
  margin: 0 auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #323232;
  font-size: 15px;
}

.bold {
  font-weight: bolder;
}

.titlebox {
  font-weight: 700;
  font-size: 15px;
}

.content {
  font-size: 11px;
  text-align: left;
  border: 1px solid grey;
  background-color: white;
  margin: 10px;
  padding: 20px 20px 100px;
  box-shadow: 1px 1px 10px hsl(229, 6%, 66%);
}

.attribution {
  margin-top: 50px;
  font-size: 11px;
  text-align: center;
}

/****.attribution a {
  color: hsl(228, 45%, 44%);
}***/
.Supervisor {
  position: absolute;
  background-color: white;
  width: 33%;
  float: left;
  margin-left: 40px;
  margin-top: 100px;
}

.Team-Builder {
  margin-top: 50px;
  margin-left: 250px;
  float: right;
}
